extends layout

block content

  div.col-md-4.offset-md-4.mt-5.bg-light.p-4

    h4.pb-0 Signup

    each err in errors
      div.alert.alert-danger
        p #{ err }

    each info in infos
      div.alert.alert-info
       p #{ info }

    form(method='post' action='/signup')
      div.form-group
        label(for='username') Username
        input#username.form-control(type='text' name='username' placeholder='Username' required)
      div.form-group
        label(for='email') Email
        input#email.form-control(type='email' name='email' placeholder='Email' required)
      div.form-group
        label(for='password') Password
        input#password.form-control(type='password' name='password' placeholder='Password' required)
      button.btn.btn-primary(type='submit') Signup